@page "/index"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject HttpClient Http
@using BlazorFront.Models
@using ProjektKarolewski.Models
@using BlazorFront.Services
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Notifications
@attribute [Authorize(Roles = "Administrator, Manager, User")]



<SfDashboardLayout CellSpacing="@(new double[]{20 ,20 })" Columns="4">
    <DashboardLayoutPanels>
        <AuthorizeView Roles="Administrator, Manager, User">
            <DashboardLayoutPanel SizeX="1" SizeY="1">
                <HeaderTemplate>
                    <div>Urządzenia</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <NavLink class="nlink" rel='nofollow' href="devices">
                        <div class="e-icons drop-down">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
                                <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z" />
                                <path d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </div>
                    </NavLink>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator, Manager">
            <DashboardLayoutPanel Column=1>
                <HeaderTemplate>
                    <div>Zarządzanie urządzeniami</div>
                </HeaderTemplate>
                <ContentTemplate>
                    <NavLink class="nlink" rel='nofollow' href="deviceedit">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                            </svg>
                        </div>
                    </NavLink>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator, Manager">
            <DashboardLayoutPanel Column=2>
                <HeaderTemplate><div>Powiadomienia</div></HeaderTemplate>
                <ContentTemplate>
                    <NavLink class="nlink" rel='nofollow' href="notifications">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                        </div>
                    </NavLink>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator, Manager, User">
            <DashboardLayoutPanel Row=1>
                <HeaderTemplate><div>Moje zgłoszenia</div></HeaderTemplate>
                <ContentTemplate>
                    <NavLink class="nlink" rel='nofollow' href="tickets">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            </svg>
                        </div>
                    </NavLink>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator, Manager">
            <DashboardLayoutPanel Row=1 Column=1>
                <HeaderTemplate><div>Słowniki</div></HeaderTemplate>
                <ContentTemplate>
                    <NavLink class="nlink" rel='nofollow' href="settings">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>
                        </div>
                    </NavLink>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <DashboardLayoutPanel Row=1 Column=2>
                <HeaderTemplate><div>Użytkownicy</div></HeaderTemplate>
                <ContentTemplate>
                    <NavLink class="nlink" rel='nofollow' href="users">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </div>
                    </NavLink>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </AuthorizeView>
    </DashboardLayoutPanels>
</SfDashboardLayout>



    <style>
        svg {
            color: black;
            width: auto;
            height: auto;
        }

        .e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
            color: #754131;
            background-color: #c9e2f7;
            text-align: center;
        }

        .e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-content {
            background-color: #fdc500;
            padding: 50px;
        }

        .e-panel-content {
            text-align: center;
            margin-top: 10px;
        }
    </style>


    @code {
       
    }
