@using Syncfusion.Blazor.Navigations

 <div class="dock">
     <ul>
         <li class="sidebar-item" id="toggle" @onclick="@Toggle">
             <span class="e-icons expand"></span>
             <span class="e-text" title="menu">Menu</span>
         </li>
         <NavLink class="nlink" rel='nofollow' href="devices">
             <li class="sidebar-item">
                 <span class="e-icons drop-down"></span>
                 <span class="e-text" title="info">Urządzenia</span>
             </li>
         </NavLink>
         <NavLink class="nlink" rel='nofollow' href="deviceedit">
             <li class="sidebar-item">
                 <span class="e-icons home"></span>
                 <span class="e-text" title="deviceedit">Zarządzanie urządzeniami</span>
             </li>
         </NavLink>
         <NavLink class="nlink" rel='nofollow' href="notifications">
             <li class="sidebar-item">
                 <span class="e-icons info"></span>
                 <span class="e-text" title="info">Powiadomienia</span>
             </li>
         </NavLink>
         <NavLink class="nlink" rel='nofollow' href="tickets">
             <li class="sidebar-item">
                 <span class="e-icons comment-show"></span>
                 <span class="e-text" title="info">Moje zgłoszenia</span>
             </li>
         </NavLink>
         <li class="sidebar-item">
             <span class="e-icons profile"></span>
             <span class="e-text" title="profile">Użytkownicy</span>
         </li>
     </ul>
</div>

@code {

    [Parameter]
    public SfSidebar SidebarInstance { get; set; }

    public void Toggle()
    {
        SidebarInstance.Toggle();
    }



}