@using Syncfusion.Blazor.Navigations

 <div class="dock">
     <ul>
         <li class="sidebar-item" id="toggle" @onclick="@Toggle">
             <span class="e-icons expand"></span>
             <span class="e-text" title="menu">Menu</span>
         </li>
         <AuthorizeView Roles="Administrator, Manager, User">
             <NavLink class="nlink" rel='nofollow' href="index">
                 <li class="sidebar-item">
                     <span class="e-icons home"></span>
                     <span class="e-text" title="mainpage">Strona głowna</span>
                 </li>
             </NavLink>
         </AuthorizeView>
         <AuthorizeView Roles="Administrator, Manager, User">
             <NavLink class="nlink" rel='nofollow' href="devices">
                 <li class="sidebar-item">
                     <span class="e-icons drop-down"></span>
                     <span class="e-text" title="devices">Urządzenia</span>
                 </li>
             </NavLink>
         </AuthorizeView>
         <AuthorizeView Roles="Administrator, Manager">
             <NavLink class="nlink" rel='nofollow' href="deviceedit">
                 <li class="sidebar-item">
                     <span class="e-icons grid-view"></span>
                     <span class="e-text" title="deviceedit">Zarządzanie urządzeniami</span>
                 </li>
             </NavLink>
         </AuthorizeView>
         <AuthorizeView Roles="Administrator, Manager">
             <NavLink class="nlink" rel='nofollow' href="notifications">
                 <li class="sidebar-item">
                     <span class="e-icons info"></span>
                     <span class="e-text" title="notifications">Powiadomienia</span>
                 </li>
             </NavLink>
         </AuthorizeView>
         <AuthorizeView Roles="Administrator, Manager, User">
             <NavLink class="nlink" rel='nofollow' href="tickets">
                 <li class="sidebar-item">
                     <span class="e-icons comment-show"></span>
                     <span class="e-text" title="tickets">Moje zgłoszenia</span>
                 </li>
             </NavLink>
         </AuthorizeView>
         <AuthorizeView Roles="Administrator, Manager">
             <NavLink class="nlink" rel='nofollow' href="settings">
                 <li class="sidebar-item">
                     <span class="e-icons settings"></span>
                     <span class="e-text" title="settings">Ustawienia</span>
                 </li>
             </NavLink>
         </AuthorizeView>   
         <AuthorizeView Roles="Administrator">
             <NavLink class="nlink" rel='nofollow' href="users">
                 <li class="sidebar-item">
                     <span class="e-icons profile"></span>
                     <span class="e-text" title="users">Użytkownicy</span>
                 </li>
             </NavLink>
         </AuthorizeView>
     </ul>
</div>

@code {

    [Parameter]
    public SfSidebar SidebarInstance { get; set; }

    public void Toggle()
    {
        SidebarInstance.Toggle();
    }



}